version: "3.8"

services:
  legendary-minecraft:
    image: "05jchambers/legendary-minecraft-geyser-floodgate:latest"
    platform: linux/arm64 # Ensures ARM64 compatibility for t4g EC2
    restart: unless-stopped
    volumes:
      - "minecraft_data:/minecraft"
    environment:
      - MaxMemory=3072
      - TZ=UTC
    ports:
      - "25565:25565" # Java Edition
      - "19132:19132/udp" # Bedrock Edition
      - "19132:19132"
volumes:
  minecraft_data:
    external: false
