services:
  papermc-on-bedrock:
    image: octoturnip/papermc-on-bedrock
    ports:
      - "25565:25565" # Java Edition
      - "19132:19132/udp" # Bedrock Edition
    volumes:
      - ./data:/data
    environment:
      EULA: "TRUE"
      VERSION: "1.21.10"
    restart: unless-stopped
    platform: linux/arm64
volumes:
  data:
    external: false
